html,
body {
  margin: 0;
  padding: 0;
  header {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    background-color: lemonchiffon;
    padding: 4px 16px;
  }
  .user_icon {
    display: flex;
    align-items: center;
    padding: 0px 8px;
  }

  img {
    height: 30px;
    width: auto;
    margin: 8px;
    /* border: 1px solid black; */
    border-radius: 50%;
  }
  .main_sec {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }
  h2,
  h3 {
    margin: 16px;
  }
  h3.add_btn {
    padding: 4px 8px;
    /* border: 1px solid lightgray; */
    border-radius: 5px;
    background-color: lemonchiffon;
    box-shadow: 1px 3px 5px #ccc;
  }
  h3.add_btn:hover {
    cursor: pointer;
    box-shadow: 2px 5px 8px #aaa;
  }
  table {
    border-collapse: collapse; /* 合并边框 */
    width: 90%;
  }

  table,
  th,
  td {
    border: 1px solid #aaa;
    padding: 8px;
  }

  th {
    background-color: lemonchiffon;
  }
}
