<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>dbmaG6_admin1</title>
    <link rel="stylesheet" href="./admin1.css" />
  </head>
  <!-- start of body -->
  <body>
    <!-- header is here -->
    <header>
      <!-- user_icon is here -->
      <div class="user_icon">
        <a href="../home&loginpage/loginpage.html"
          ><img src="../home&loginpage/Image/NCCU_logo.png" alt="admin頭貼"
        /></a>
        <h3>Hi! 123456 (admin)</h3>
      </div>
      <div class="login_time">
        <!-- <p id="current_date"></p>接上current time -->
        <div id="current_date" style="font-weight: bold; font-size: smaller">
          <script>
            // Get the current date
            var currentDate = new Date().toLocaleString();

            // Concatenate "Login time:" with the date string
            var dateTimeString = "登入時間 " + currentDate;

            // Set the concatenated string as the inner HTML of the div
            document.getElementById("current_date").innerHTML = dateTimeString;
          </script>
        </div>
      </div>
    </header>
    <div class="main_sec">
      <div class="title">
        <h1>Posts</h1>
        <h3 class="add_btn">+add</h3>
      </div>
      <table>
        <tr>
          <th>Pin</th>
          <th>Announcement</th>
          <th>Location</th>
          <th>Date</th>
          <th>Settings</th>
        </tr>
        <tr>
          <td>v</td>
          <td>端午連假健身房開放時間公告！</td>
          <td>Gym</td>
          <td>6/08~6/10</td>
          <td>...</td>
        </tr>
        <tr>
          <td>v</td>
          <td>端午連假健身房開放時間公告！</td>
          <td>Gym</td>
          <td>6/08~6/10</td>
          <td>...</td>
        </tr>
        <tr>
          <td>v</td>
          <td>端午連假健身房開放時間公告！</td>
          <td>Gym</td>
          <td>6/08~6/10</td>
          <td>...</td>
        </tr>
      </table>
    </div>
    <!-- <script src="admin.js"></script> -->
  </body>
</html>
